.case {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: url("../img/wood.png") #583729; */
    margin: 5px;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    box-sizing: border-box;
    /* box-shadow: 0px 0px 0px #774936, 0px 1px 0px #774936, 0px 1px 0px #8a5a44, 0px 2px 0px #b07d62, 0px 2px 0px #d69f7e, 0px 6px 1px rgba(0, 0, 0, 0.1), 0px 0px 5px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 3px 5px rgba(0, 0, 0, 0.2), -4px 8px 8px rgba(0, 0, 0, 0.1), -8px 16px 16px rgba(0, 0, 0, 0.37), -16px 32px 32px rgba(0, 0, 0, 0.25), -32px 64px 64px rgba(0, 0, 0, 0.25); */
}

.joueur_NORD {
    background: #333533;
    /* color: #6c757d; */
    color: #adb5bd;
    box-shadow: 0px 0px 0px #212529, 0px 1px 0px #212529, 0px 1px 0px #212529, 0px 2px 0px #212529, 0px 2px 0px #212529, 0px 6px 1px rgba(0, 0, 0, 0.1), 0px 0px 5px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 3px 5px rgba(0, 0, 0, 0.2), -4px 8px 8px rgba(0, 0, 0, 0.1), -8px 16px 16px rgba(0, 0, 0, 0.37), -16px 32px 32px rgba(0, 0, 0, 0.25), -32px 64px 64px rgba(0, 0, 0, 0.25);
}

.joueur_SUD {
    background: #c0c0c0;
    color: #212529;
    box-shadow: 0px 0px 0px #6c757d, 0px 1px 0px #6c757d, 0px 1px 0px #6c757d, 0px 2px 0px #6c757d, 0px 2px 0px #6c757d, 0px 6px 1px rgba(0, 0, 0, 0.1), 0px 0px 5px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 3px 5px rgba(0, 0, 0, 0.2), -4px 8px 8px rgba(0, 0, 0, 0.1), -8px 16px 16px rgba(0, 0, 0, 0.37), -16px 32px 32px rgba(0, 0, 0, 0.25), -32px 64px 64px rgba(0, 0, 0, 0.25);
}

.select {
    border: 2px solid #0d718a;
}

.plusplus {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    width: 20px;
    height: 20px;
    font-size: 0.7em;
    font-weight: 800;
    animation: 1.5s linear both moveplus;
}

.positif {
    color: #2a9d8f;
}

.negatif {
    color: #e63946;
}

.shake {
    animation-name: shake;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes moveplus {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-4rem);
        opacity: 0;
        z-index: -10;
    }
}

@keyframes shake {
    100%,
    from {
        transform: translate3d(0, 0, 0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate3d(-0.1rem, 0, 0);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translate3d(0.1rem, 0, 0);
    }
}